<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.paojiujiu">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeInfo"
            android:windowSoftInputMode="adjustResize"
            android:label="修改资料" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".MyMedal"
            android:windowSoftInputMode="adjustResize"
            android:label="我的勋章" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".TrainCorrect" />
        <activity android:name=".TrainPoints"
            android:windowSoftInputMode="adjustResize"
            android:label="训练要点" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PractiseActivity"/>
        </activity>
        <activity android:name=".RunPoints"
            android:windowSoftInputMode="adjustResize"
            android:label="跑姿要点" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PractiseActivity"/>
        </activity>
        <activity android:name=".RunCorrect" />
        <activity android:name=".RunDetail"
            android:windowSoftInputMode="adjustResize"
            android:label="运动详细" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SportHistoryActivity"/>
        </activity>
        <activity android:name=".Camera2RecordFinishActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="拍摄结束" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SportActivity"/>
        </activity>
        <activity android:name=".camera2library.camera.Camera2RecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SportActivity" android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SportHistoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".PractiseActivity" android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MineActivity" android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>